@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Fredoka:wght@300;400&family=Hahmlet:wght@200;300;400&family=Lora:wght@400;500&family=Lustria&family=Nanum+Myeongjo:wght@400;700&family=Orbitron&family=Poppins:wght@200;300;400;600;700&family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@100;300;400;500;600&family=Roboto:wght@300&family=Varela+Round&display=swap');




* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 100px;
    background-color: #fefef7;
}

html {
    scroll-behavior: smooth;
}

a {
    color: #333;
    text-decoration: none;
}

p h1 h2 h3 h4 h5 h6 {
    color: #333;
}

/* TEXT */

main .description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 200px;
    /* padding-left: 100px;
    padding-right: 100px; */
}

main .description .left-section h1 {
    font-family: 'General Sans Bold 2';
    font-size: 50px;
    margin-bottom: 50px;
}

main .description .left-section  p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    max-width: 700px;
}

main .description .left-section p span {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

main .description .right-section img {
    width: 500px;
}



/* GRID */
main .grid {
    display: flex;
    justify-content: center;
}

main .grid #grid-container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: inline-grid;
    grid-template-columns: repeat(3, 340px);
    grid-auto-rows: minmax(0px, auto);
    justify-items: center;
  }
main .grid #grid-container .headline-container {
    display: flex;
  }
main .grid #grid-container .headline-container .grid-headline {
    margin-bottom: 10px;
    z-index: 1;
    margin-right: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 17px;
  }
main .grid #grid-container .headline-container .fa-solid {
    padding-top: 3px;
  }
main .grid #grid-container .headline-container .fa-regular {
    padding-top: 3px;
  }
main .grid #grid-container .grid-text {
    line-height: 25px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
main .grid #grid-container .grid-column {
    display: flex;
    gap: 15px;
  }
main .grid #grid-container ul {
    padding-left: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }
main .grid #grid-container ol {
    padding-left: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
main .grid #grid-container #grid-item-1 {
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    height: 150px;
    width: 370px;
    padding: 20px;
    position: relative;
  }
main .grid #grid-container #grid-item-1 .purple-line {
    height: 15px;
    width: 110px;
    background-color: #CAD1FF;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: -1;
  }
main .grid #grid-container #grid-item-2 {
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    height: 150px;
    width: 310px;
    padding: 20px;
    position: relative;
  }
main .grid #grid-container #grid-item-2 .purple-line {
    height: 15px;
    width: 95px;
    background-color: #CAD1FF;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: -1;
  }
main .grid #grid-container #grid-item-3 {
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 150px;
    width: 370px;
    padding: 20px;
    position: relative;
  }
main .grid #grid-container #grid-item-3 .purple-line {
    height: 15px;
    width: 120px;
    background-color: #CAD1FF;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: -1;
  }
main .grid #grid-container #grid-item-4 {
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    height: 150px;
    width: 370px;
    padding: 20px;
    position: relative;
  }
main .grid #grid-container #grid-item-4 .purple-line {
    height: 15px;
    width: 75px;
    background-color: #CAD1FF;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: -1;
  }
main .grid #grid-container #grid-item-5 {
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    height: 150px;
    width: 310px;
    padding: 20px;
    position: relative;
  }
main .grid #grid-container #grid-item-5 .purple-line {
    height: 15px;
    width: 110px;
    background-color: #CAD1FF;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: -1;
  }
main .grid #grid-container #grid-item-6 {
    height: 150px;
    width: 370px;
    padding: 20px;
    position: relative;
  }
  main .grid #grid-container #grid-item-6 .purple-line {
    height: 15px;
    width: 130px;
    background-color: #CAD1FF;
    position: absolute;
    top: 30px;
    left: 15px;
    z-index: -1;
  }
  
